

  <div class="cards">
  <% @cocktails.each do |cocktail|  %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/338713/pexels-photo-338713.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500)">
  <h2> <%=  cocktail.name %></h2>
  </div>
  <% end  %>
</div>
