.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 54px;
  font-weight: bold;
  text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 35px rgba(0,0,0,0.2);
}
